.header-home {
    background: linear-gradient(rgba(255, 255, 255, 0.78), rgba(255, 255, 255, 0)) ,url('../../image/bg-home.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.intro-text {
    font-size: 60px;
}
.title-text {
    margin: 60px 0 30px;
    position: relative;
}
.title-text::after {
    content: '';
    height: 3px;
    width: 180px;
    background: #ff7120;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.about-intro {
    background: #ffe2d0;
}
.courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}